packages:
    pkg.installed:
        - names:
            - python-dev
            - python-virtualenv
            {{#mysql}}
            - mysql-server
            - python-mysqldb
            - libmysqlclient-dev
            {{/mysql}}
            {{#postgres}}
            - postgresql
            - libpq-dev
            {{/postgres}}
