To activate your virtualenv issue the following:

    >>> . ~/.virtualenv/{{project_name}}/bin/activate

Your project code is located at the following:

    >>> /vagrant

For any issues with this install, please file an issue at:

https://github.com/cgallemore/djvasa/issues/new