postgres.host: 'localhost'
postgres.port: '5432'
postgres.user: 'django'
postgres.pass: 'django'
postgres.db: '{{project_name}}'
postgres.runas: 'postgres'

postgresql:
    databases:
        - django
