packages:
    pkg.installed:
        - names:
            - python-dev
            - python-pip
            {{#mysql}}
            - mysql-server
            - python-mysqldb
            - libmysqlclient-dev
            {{/mysql}}
            {{#postgres}}
            - postgresql
            - libpq-dev
            {{/postgres}}
        - require_in:
            - /home/vagrant/.virtualenv/{{project_name}}
