/home/vagrant/.virtualenv/{{project_name}}:
    virtualenv.managed:
        - no-site-packages: True
        - runas: vagrant
        - requirements: /vagrant/requirements.txt
        - require:
            - pkg: python-dev
            - pkg: python-virtualenv
